<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="AddChildItemRule.Sc.Rules.Handlers.ItemAdded.ItemAddedRulesHandler, AddChildItemRule.Sc.Rules" method="OnItemAdded">
          <patch:insert/>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>
